

<section class="services">
  <div class="services__container">
    <h3>Our key services</h3>
    <p class="services__intro">With over 10 years experience and real focus on customer satisfaction, you can rely on us to carry out your project,
    and solve all of your glazing needs. We provide professional glazing services for both domestic and commercial customers.
    </p>
    <div class="services__box">

      {% for item in options.service %}
        <div class="services__item">

          <div class="img-container">
            <a class="img-container__link" href="{{item.service_link_page.url}}">
              <img src="{{item.service_image.url}}" alt="" />

              <h4 class="img-container__title">{{item.service_header}}</h4>
              <div class="img-container__overlay"></div>
            </a>
            <div class="img-container__button"><a class="golden-btn" href="{{item.service_link_page.url}}"> Find out more </a></div>
          </div>
          <p>{{item.service_text}}</p>
        </div>
      {% endfor %}

    </div>
  </div>
</section>
