

<section class="services">
  <div class="services__container">
    <h3>{{ post.services_heading_home}}</h3>
    <p class="services__intro">
      {{ post.services_intro_home}}
    </p>
    <div class="services__box">

      {% for item in options.service %}
        <div class="services__item">

          <div class="img-container">
            <a class="img-container__link" href="{{item.service_link_page.url}}">
              <img src="{{item.service_image.sizes.large}}" alt="" />

              <h4 class="img-container__title">{{item.service_header}}</h4>
              <div class="img-container__overlay"></div>
            </a>
            <div class="img-container__button">
              <a class="golden-btn golden-btn--main-page" href="{{item.service_link_page.url}}"> Find out more </a>
            </div>
          </div>
          {% if item.service_text %}
            {{item.service_text}}
          {% endif %}
        </div>
      {% endfor %}

    </div>
  </div>
</section>
