{% extends "base.twig" %}
{% block content %}

<section class="page-header" style='background-image: url("{{hero_img.url}}");'>

  <div class="page-header__container">
    <h1>{{page.post_title}}</h1>
  </div>

</section>
{% include 'sections/contact-short.twig' %}


<section class="page">
  <div class="page__container">
    <div class="page__section page__section--main">
      <h2>{{ page.h1_heading }}</h2>
      <p class="page__intro"> {{ page.intro_paragraph }}</p>
      <p>{{ page.main_text}}</p>

    </div>
    <div class="page__section--second">
      <div class="call">
        <h3>Call us on</h3>
        <p><a href="tel:07511407624">07511407624</a></p>
      </div>

      <div class="fb-div">
        <a target="_blank" href="https://www.facebook.com/timberandglasscrafters">
          <svg class="icon icon--fb-sidebar" role="presentation">
            <use xlink:href="#icon-facebook-2"></use>
          </svg>
          To see our latest projects,<br/>
          <span class="bold">visit us on Facebook</span>
        </a>
      </div>

    </div>

  </div>
</section>



{% endblock %}
