{% block html_head_container %}
{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}
<body class="{{body_class}}" data-template="base.twig">
	<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v8.0" nonce="AwCneQ1y"></script>
	<div class="is-hidden">
    {% include 'icons/icons.svg' %}
  </div>
	{% block navigtion %}
	<a class="usa-skipnav" href="#main-content">Skip to main content</a>
	<header class="usa-header header" role="banner" id="main-header">
		<div class="top-nav">
			<div class="top-nav__container">
				<div class="usa-navbar">
		      <button class="usa-menu-btn"><i class="fa fa-bars"></i></button>
		    </div>
				Stay connnected
				<a href="https://www.facebook.com/timberandglasscrafters/">
					<svg class="icon icon--facebook" role="presentation">
						<use xlink:href="#icon-facebook"></use>
					</svg>
				</a>
				&#124; &nbsp; &nbsp;<span class="show-mb"><br / style="display:none;"></span>
				<a href="mailto:contact@tgcrafters.co.uk">contact@tgcrafters.co.uk</a>
			</div>
		</div>
		<div class="usa-nav-container header__container">

			<div class="usa-logo header__logo" id="logo">
				<a href="{{site.url}}" accesskey="1" title="Home" aria-label="{{site.title}}">
					<img src="{{options.header_logo_image.url}}"  alt="{{options.header_logo_image.alt}}" title=""/>
				</a>
			</div>

			<div class="header__information">
				<div class="header__information--boxone hide-mb">

					<svg class="icon icon--header-mail" role="presentation">
						<use xlink:href="#icon-email"></use>
					</svg>
					<p>
						WANT AN APPROXIMATE PRICE?<br/>
						<span><a href="">GET A FREE QUOTE <span class="arrows">&#187;</span></a></span>
					<p>
				</div>
				<div class="header__information--boxtwo">
					<svg class="icon icon--header-mail" role="presentation">
						<use xlink:href="#icon-vibrate"></use>
					</svg>
					<p>
						CALL US NOW:<br/>
						<span>07846931183</span>
					<p>
				</div>
			</div>




	  </div>
	</header>
	<nav role="navigation" class="usa-nav navigation">
		<div class="usa-nav-inner navigation__container">
			<button class="usa-nav-close">
				<i class="fa fa-close"></i>
			</button>
			<ul class="usa-nav-primary usa-accordion">
				{% for item in menu.get_items %}
				<li class="{{item.classes | join(' ')}}">
				{% if item.get_children %}
					<button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="{{item.title|replace({' ': '-'}) }}-nav">
						<span>{{item.title}}</span>
					</button>
					<ul id="{{item.title|replace({' ': '-'}) }}-nav" class="usa-nav-submenu" aria-hidden="true">
					{% for child in item.get_children %}
						<li>
						<a href="{{child.get_link}}">{{child.title}}</a>
						</li>
					{% endfor %}
					</ul>
				{% else %}
					<a class="usa-nav-link navigation__link" href="{{item.get_link}}">
						<span>{{item.title}}</span>
					</a>
				{% endif %}
				</li>
				{% endfor %}
			</ul>
			<div class="usa-nav-secondary navigation__secondary">
				<!--<form class="usa-sr-only usa-search usa-search-small  js-search-form" action="{{site.url}}/" method="GET">
					<div role="search">
						<label class="usa-sr-only" for="extended-search-field-small">Search small</label>
						<input id="extended-search-field-small" type="search" name="s">
						<button type="submit"><span class="usa-sr-only">Search</span></button>
					</div>
				</form>-->
				<ul class="usa-unstyled-list usa-nav-secondary-links">
					<!--<li class="js-search-button-container">
						<button class="usa-header-search-button js-search-button">Search</button>
					</li>-->
					{% for item in secondary_menu.get_items %}
					<li>
						<a href="{{item.get_link}}">{{item.title}}</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</nav>
	{% endblock %}

	<div class="usa-overlay"></div>
  	<main id="main-content" role="main">
	{% block content %}
		Sorry, no content
	{% endblock %}
	</main>

	{% block footer %}
	{% include 'footer.twig' %}
	{{ function('wp_footer') }}
	{% endblock %}
</body>
</html>
