<footer class="usa-footer usa-footer-medium footer" role="contentinfo">
	<div class="footer__container">
		<div class="footer__container--top">
			<div class="footer__container__item">
				<div class="footer__logo">
					<a href="{{site.url}}" accesskey="1" title="Home" aria-label="{{site.title}}">
						<img src="{{options.header_logo_image.url}}"  alt="{{options.header_logo_image.alt}}" title=""/>
					</a>
			 	</div>
			</div>
			<div class="footer__container__item">
				logo
			</div>
			<div class="footer__container__item">
				Our portfolio
			</div>
			<div class="footer__container__item">
				<a href="#main-header">Return to top</a>
			</div>


		</div>

		<div class="footer__container--bottom">
			<div class="footer__container__item">
				<h4>ABOUT</h4>
<p>Mauris accumsan eros eget libero posuere vulputate. Etiam elit elit, elementum sed varius at, vitae est.<br/> Sed nec felis pellentesque, lacinia dui sed, ultricies sapien. Pellentesque orci lectus, consectetur vel, rutrum eu ipsum.</a>
			</div>
			<div class="footer__container__item">
				SERVICES<br/>
				GENERAL BUILDER →<br/>
				HOUSE EXTENSIONS →<br/>
				REFURBISHMENT →<br/>
				ELECTRICITY →<br/>
				BATHROOMS →<br/>
				KITCHENS →<br/>
			</div>
			<div class="footer__container__item">
				CONTACT

				Mobile: 02 562-95
				E-mail: hello@construction.com
				Facebook
			</div>
			<div class="footer__container__item">
				GET A FREE QUOTE
				Form
			</div>
		</div>
		<div>	<a href="{{site.url}}/">{{site.title}}</a> | Copyright &copy; {{ "now"|date("Y") }}</div>
	</div>



</footer>
<script src="{{site.theme.link}}/dist/build.js"></script>
