<!doctype html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{site.language_attributes}}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{site.language_attributes}}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{site.language_attributes}}> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" {{site.language_attributes}}> <!--<![endif]-->
<head>
    <meta charset="{{site.charset}}" />
        <title>
            {% if wp_title %}
                {{ wp_title }}
            {% else %}
                {{ site.name }}
            {% endif %}
        </title>
    <meta name="description" content="{{site.description}}">
    <link rel="stylesheet" href="{{site.theme.link}}/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:url" content="{{fn('get_permalink')}}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{% if page %}{{page.post_title}}{% else %}Glass, Glazing & Bespoke timber building services {% endif %}">
    <meta property="og:description" content="{% if page %}{{page.intro_paragraph|striptags|raw}}{% else %}Welcome to our world where possibilites are limitless. We are a team of skilled tradesmen that can take your property to another level or design and implement solutions to help you create your dream home or business.{% endif %}">
        <meta property="og:image" content="
    {% if hero_img %}{{hero_img.url}}{% else %}{{options.header_logo_image.url}}{% endif %}">
    <meta name="google-site-verification" content="115y9nIQYMWutuwsluhsPoHWXK4AjOaZ1ZAhj-7OYck" />
    <link rel="pingback" href="{{site.pingback_url}}" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <link rel="apple-touch-icon" sizes="57x57" href="/wp-content/themes/tgcrafters-theme/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/wp-content/themes/tgcrafters-theme/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/wp-content/themes/tgcrafters-theme/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/wp-content/themes/tgcrafters-theme/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/wp-content/themes/tgcrafters-theme/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/wp-content/themes/tgcrafters-theme/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/wp-content/themes/tgcrafters-theme/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/wp-content/themes/tgcrafters-theme/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/wp-content/themes/tgcrafters-theme/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/wp-content/themes/tgcrafters-theme/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/wp-content/themes/tgcrafters-theme/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/wp-content/themes/tgcrafters-theme/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/wp-content/themes/tgcrafters-theme/favicons/favicon-16x16.png">
    <!--<link rel="manifest" href="/manifest.json">-->
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="google-site-verification" content="dv_rVE5w2B9_GEixBTyhN3Q1c-_LypMpvvtngambu-I" />



    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-152713584-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-152713584-1');
    </script>

    {{function('wp_head')}}
