{% extends "base.twig" %}
{% block content %}
	<section class="top-strip">
		<div class="top-strip__container">
		Timber&Glass Crafters	*** #1 supplier and installer of garden pergolas in the UK ***
		</div>
	</section>
	<section class="gallery">
		<div class="gallery__container">
			<div class="gallery__box">
				<section id="detail">
				  <div class="gallery__product-container">
				    <div class="row">
				      <div class="col-md-12 mx-auto">
				   <!-- Product Images & Alternates -->
				          <div class="product-images demo-gallery">
				            <!-- Begin Product Images Slider -->
				            <div class="main-img-slider">

											{% for img in main_gallery %}
												<a data-fancybox="gallery" href="{{img.main_img_gallery.url}}"><img src="{{ img.main_img_gallery.url|resize(840, 480) }}" class="img-fluid"></a>
											{% endfor %}

				          	</div>
				          <!-- End Product Images Slider -->

				          <!-- Begin product thumb nav -->
				          <ul class="thumb-nav">
										{% for img in main_gallery %}
											<li><img src="{{ img.main_img_gallery.url|resize(72, 50) }}"</li>
										{% endfor %}




				          </ul>
				          <!-- End product thumb nav -->
				        </div>
				        <!-- End Product Images & Alternates -->

				      </div>
				    </div>
				  </div>
				</section>

			</div>
			<div class="gallery__features">
				<h1>{{fields.product_header}}</h1>
				{{fields.pergola_features}}
				<a class="quote-btn golden-btn golden-btn--main-page" href="http://tgcrafters.co.uk/get-a-free-quote/">Get a FREE quote</a>
			</div>
		</div>

		</section>

<section class="product-tabs">
	<div class="product-tabs__container">
		<div class="worko-tabs">

    <input class="state" type="radio" title="tab-one" name="tabs-state" id="tab-one" checked />
    <input class="state" type="radio" title="tab-two" name="tabs-state" id="tab-two" />
    <input class="state" type="radio" title="tab-three" name="tabs-state" id="tab-three" />
    <input class="state" type="radio" title="tab-four" name="tabs-state" id="tab-four" />

    <div class="tabs flex-tabs">
        <label for="tab-one" id="tab-one-label" class="tab">Product Information</label>
        <label for="tab-two" id="tab-two-label" class="tab">Things to consider</label>
        <label for="tab-three" id="tab-three-label" class="tab">Installation</label>



        <div id="tab-one-panel" class="panel active">
					{{fields.tab_one}}
        </div>
        <div id="tab-two-panel" class="panel">
           {{fields.tab_two}}
        </div>
        <div id="tab-three-panel" class="panel">
            {{fields.tab_three}}
        </div>

    </div>

		</div>
	</div>
</section>
<section class="product-slider">
	<div id="promotional_slider">
		<h3>Similar products</h3>
	  <div class="promotionalslider_wrapper">
			{% for slide in options.product_slider_group %}
				<div class="promotionalslider_single">
				<a href="{{slide.product_link.url}}">
					<section style='background-image: url({{slide.product_slider.url| resize(483, 362)}})'></section>
					<p>{{slide.product_label}}</p>
				</a>
			</div>
			{% endfor %}
	   </div>
	</div>



</section>

{% endblock %}
